# .gitignore
__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/
*.pt
*.weights
node_modules/
/frontend/build/
/frontend/dist/
.DS_Store
*.log
uploads/Road-Damage-Detection-FYP/
backend/uploads/
Road-Damage-Detection-FYP/
report.pdf
test_road.jpg
*.jpg
*.jpeg
*.png
!frontend/src/assets/
